@import "../../App";

.card_style {
  background-color: white;
}

.card_header {
  height: 60px;
};

.card_body {
  height: 200px;
  overflow: hidden;
}

.card_element {
  background-color: white;
  textAlign: left;
  font-family: '--pf-global--FontFamily--sans-serif';
  font-size: small;
}
