{
  "env": {
    "jest": true,
    "es6": true
  },
  "globals": {
    "apiClientMock": true,
    "mockOnce": true
  },
  "rules": {
    "react/display-name": "off",
    "react/prop-types": "off"
  }
}
