@import "../../App";


.OrderForm {
  border: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;

  font-family: '--pf-global--FontFamily--sans-serif';
  font-size: small;
}



.wizard-pf {
  padding: 10px;
  margin: 0 auto;
  max-height: 900px;
  width: auto;
}
.wizard-pf .modal-content {
  min-height: 100%;
}
.wizard-pf-body {
  background: #fff;
  padding: 0;
  position: static;
}
/* styles the sidebard containing the sub-steps */
.wizard-pf-sidebar {
  background: #fafafa;
  border-right: 1px solid #d1d1d1;
  display: none;
}
@media (min-width: 768px) {
  .wizard-pf-sidebar {
    display: inherit;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .wizard-pf-sidebar .list-group {
    border-top: 0;
    margin-bottom: 0;
  }
  .wizard-pf-sidebar .list-group-item {
    background-color: transparent;
    border-color: #ededed;
    padding: 0;
  }
  .wizard-pf-sidebar .list-group-item > a {
    color: #030303;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    outline: 0;
    padding-top: 11px;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
    width: 14em;
  }
  .wizard-pf-sidebar .list-group-item > a:hover {
    background-color: #ededed;
    text-decoration: none;
  }
  .wizard-pf-sidebar .list-group-item > a:hover:focus {
    text-decoration: none;
  }
  .wizard-pf-sidebar .list-group-item > a:hover:focus span {
    text-decoration: underline;
  }
  .wizard-pf-sidebar .list-group-item.active {
    background-color: #ededed;
  }
  .wizard-pf-sidebar .list-group-item.active:hover {
    border-color: #ededed;
  }
  .wizard-pf-sidebar .list-group-item.active > a {
    color: #39a5dc;
    cursor: default;
  }
  .wizard-pf-sidebar .list-group-item.active > a:before {
    content: " ";
    background: #39a5dc;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
  }
  .wizard-pf-sidebar .list-group-item.active > a:after {
    color: #39a5dc;
    content: "\f105";
    display: block;
    font-family: FontAwesome;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 10px;
    position: absolute;
    right: 23px;
    top: 0;
  }
}
.wizard-pf-substep-number {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 25px;
}
.wizard-pf-substep-title {
  display: inline-block;
  margin-right: 5px;
  text-align: left;
  vertical-align: middle;
}
/* styles the steps indicator across the top of the wizard */
.wizard-pf-steps {
  border-bottom: solid 1px #d1d1d1;
}
@media (min-width: 768px) {
  .wizard-pf-steps {
    text-align: center;
  }
}
.wizard-pf-steps-indicator {
  background: #ededed;
  border-top: 1px solid #d1d1d1;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  list-style: none;
  margin-bottom: 0;
  padding: 15px 0;
  display: none;
}
@media (min-width: 768px) {
  .wizard-pf-steps-indicator {
    background: #fff;
    height: 120px;
    padding: 38px 0 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.wizard-pf-steps-indicator .wizard-pf-step {
  counter-increment: section;
  float: left;
  /* float for IE9 since it doesn't support flex. If items wrap, they overlap */
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  line-height: 15px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  /* draw the line between the circles */
}
.wizard-pf-steps-indicator .wizard-pf-step:not(.active) {
  display: none;
}
@media (min-width: 768px) {
  .wizard-pf-steps-indicator .wizard-pf-step:not(.active) {
    display: block;
  }
}
.wizard-pf-steps-indicator .wizard-pf-step a {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 700;
}
@media (min-width: 768px) {
  .wizard-pf-steps-indicator .wizard-pf-step a {
    font-weight: normal;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.wizard-pf-steps-indicator .wizard-pf-step a .wizard-pf-step-title {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .wizard-pf-steps-indicator .wizard-pf-step a .wizard-pf-step-title {
    margin-left: 0;
  }
}
.wizard-pf-steps-indicator .wizard-pf-step a .wizard-pf-step-title-substep {
  font-weight: normal;
  margin-left: 10px;
  text-transform: capitalize;
}
.wizard-pf-steps-indicator .wizard-pf-step a .wizard-pf-step-title-substep:before {
  content: "\00BB";
  font-size: 20px;
  margin-right: 10px;
}
.wizard-pf-steps-indicator .wizard-pf-step a .wizard-pf-step-title-substep:not(.active) {
  display: none;
}
@media (min-width: 768px) {
  .wizard-pf-steps-indicator .wizard-pf-step {
    /* don't draw the line between the circles on the ends */
  }
  .wizard-pf-steps-indicator .wizard-pf-step .wizard-pf-step-title-substep {
    display: none;
  }
  .wizard-pf-steps-indicator .wizard-pf-step:before {
    background-color: #bbb;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
  }
  .wizard-pf-steps-indicator .wizard-pf-step:first-child:before {
    left: 50%;
    right: 0;
  }
  .wizard-pf-steps-indicator .wizard-pf-step:last-child:before {
    left: 0;
    right: 50%;
  }
  .wizard-pf-steps-indicator .wizard-pf-step:only-of-type:before {
    background-color: transparent;
  }
}
.wizard-pf-steps-indicator .wizard-pf-step a {
  color: #030303;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
}
.wizard-pf-steps-indicator .wizard-pf-step:not(.active):not(.disabled) a:hover .wizard-pf-step-number {
  background-color: #bbb;
  border-color: #bbb;
  color: #fff;
}
.wizard-pf-steps-indicator .wizard-pf-step .wizard-pf-step-number {
  background-color: #fff;
  border-radius: 50%;
  border: solid 2px #39a5dc;
  color: #bbb;
  font-size: 12px;
  font-weight: 700;
  height: 25px;
  line-height: 22px;
  width: 25px;
  display: inline-block;
}
@media (min-width: 768px) {
  .wizard-pf-steps-indicator .wizard-pf-step .wizard-pf-step-number {
    left: calc(50% - 13px);
    position: absolute;
    top: 27px;
  }
}
.wizard-pf-steps-indicator .wizard-pf-step.active .wizard-pf-step-number {
  background-color: #39a5dc;
  border-color: #39a5dc;
  cursor: default;
  color: #fff;
}
.wizard-pf-steps-indicator .wizard-pf-step.active ~ .wizard-pf-step .wizard-pf-step-number {
  border-color: #bbb;
  background: #fff;
}
/* styles the main content portion of the wizard */
.wizard-pf-main {
  height: 100%;
  padding: 1em;
  vertical-align: top;
  width: 100%;
}
@media (min-width: 768px) {
  .wizard-pf-main {
    overflow: auto;
    padding: 3em;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
.wizard-pf-main .blank-slate-pf {
  background-color: transparent;
  border: none;
  left: 0;
  right: 0;
}
.wizard-pf-contents textarea {
  resize: vertical;
}
/* styles the content of a review page */
.wizard-pf-review-steps {
  list-style: none;
}
.wizard-pf-review-steps .list-group,
.wizard-pf-review-steps .list-group-item {
  border: none;
  margin-bottom: 0;
}
.wizard-pf-review-steps > ul > li {
  float: left;
  line-height: 15px;
  margin: 0;
  padding-top: 0;
  position: relative;
  width: 100%;
}
.wizard-pf-review-steps > ul > li > a {
  color: #030303;
  cursor: pointer;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 5px;
  text-decoration: none;
  transition: 250ms;
}
.wizard-pf-review-steps > ul > li > a:before {
  content: "\f107";
  display: block;
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: 500;
  left: 20px;
  position: absolute;
  top: 0;
}
.wizard-pf-review-steps > ul > li > a.collapsed:before {
  content: "\f105";
}
.wizard-pf-review-substeps {
  padding-left: 22px;
}
.wizard-pf-review-substeps > ul > li {
  float: left;
  line-height: 15px;
  margin: 0;
  position: relative;
  width: 100%;
}
.wizard-pf-review-substeps > ul > li a {
  color: #030303;
  cursor: pointer;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 5px;
  text-decoration: none;
  transition: 250ms;
}
.wizard-pf-review-substeps > ul > li a:before {
  content: "\f107";
  display: block;
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: 500;
  left: 20px;
  position: absolute;
  top: 10px;
}
.wizard-pf-review-substeps > ul > li a.collapsed:before {
  content: "\f105";
}
.wizard-pf-review-content {
  padding-top: 10px;
  padding-left: 40px;
}
.wizard-pf-review-content .wizard-pf-review-item {
  padding: 5px 0;
}
.wizard-pf-review-content .wizard-pf-review-item.sub-item {
  margin-left: 10px;
}
.wizard-pf-review-content .wizard-pf-review-item .wizard-pf-review-item-label {
  font-weight: 700;
  padding-right: 10px;
}
.wizard-pf-review-content .wizard-pf-review-item .wizard-pf-review-item-field {
  font-weight: 700;
  margin: 5px 0;
  padding-right: 10px;
}
.wizard-pf-review-content .wizard-pf-review-item .wizard-pf-review-item-field:first-of-type {
  margin-top: 0;
}
.wizard-pf-review-content .wizard-pf-review-item .wizard-pf-review-item-field:last-of-type {
  margin-bottom: 0;
}
.wizard-pf-review-content .wizard-pf-review-item .wizard-pf-review-item-field.sub-field {
  margin-left: 10px;
}
.wizard-pf-success-icon {
  color: #3f9c35;
  font-size: 67.2px;
  line-height: 67.2px;
}
/* styles the footer */
.wizard-pf-footer {
  background: #fff;
  border-top: 1px solid #d1d1d1;
  margin-top: 0;
  padding-bottom: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.wizard-pf-footer .wizard-pf-cancel {
  margin-right: 25px;
  -ms-flex-order: -1;
  order: -1;
}
.wizard-pf-footer .wizard-pf-next {
  -ms-flex-order: 1;
  order: 1;
  margin-left: 8px;
}
@media (min-width: 768px) {
  .wizard-pf-row {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 900px;
    max-height: 65vh;
  }
}
@media (min-width: 992px) {
  .wizard-pf {
    padding: 30px 0;
    width: 900px;
  }
  .wizard-pf-sidebar .list-group-item > a {
    width: 18em;
  }
}
.wizard-pf-steps-alt,
.wizard-pf-steps-alt ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wizard-pf-steps-alt {
  margin: 15px 0 15px 15px;
}
@media (min-width: 768px) {
  .wizard-pf-steps-alt {
    display: none;
  }
}
.wizard-pf-steps-alt-indicator {
  position: relative;
}
.wizard-pf-steps-alt-indicator:after {
  color: #4d5258;
  content: "\f107";
  display: block;
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  right: 17px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .wizard-pf-steps-alt-indicator:after {
    display: none;
  }
}
.wizard-pf-steps-alt-indicator.active:after {
  content: "\f106";
}
.wizard-pf-step-alt {
  position: relative;
  z-index: 1;
}
.wizard-pf-step-alt:not(:last-child) {
  padding-bottom: 10px;
}
.wizard-pf-step-alt a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
}
.wizard-pf-step-alt a:hover,
.wizard-pf-step-alt a:focus {
  text-decoration: none;
}
.wizard-pf-step-alt a:hover .wizard-pf-step-alt-title,
.wizard-pf-step-alt a:focus .wizard-pf-step-alt-title {
  color: #39a5dc;
}
.wizard-pf-step-alt ul {
  margin-left: 11px;
}
.wizard-pf-step-alt .wizard-pf-step-alt-number {
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  width: 24px;
  display: inline-block;
  text-align: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 2px solid #39a5dc;
  background-color: #fff;
}
.wizard-pf-step-alt .wizard-pf-step-alt-title {
  color: #030303;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  margin-left: 5px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.wizard-pf-step-alt.active .wizard-pf-step-alt-number {
  background-color: #39a5dc;
  border-color: #39a5dc;
  cursor: default;
  color: #fff;
}
.wizard-pf-step-alt.active .wizard-pf-step-alt-title {
  color: #39a5dc;
}
.wizard-pf-step-alt.active ~ .wizard-pf-step-alt .wizard-pf-step-alt-number {
  color: #bbb;
  border-color: #bbb;
}
.wizard-pf-step-alt:not(.active) a:hover .wizard-pf-step-alt-number {
  border-color: #bbb;
  background: #bbb;
  color: #fff;
}
.wizard-pf-step-alt:before {
  content: "";
  position: absolute;
  left: 11px;
  height: 100%;
  border-left: 2px solid #bbb;
  z-index: -1;
}
.wizard-pf-step-alt-substep {
  display: -ms-flexbox;
  display: flex;
  border-left: 2px solid transparent;
}
.wizard-pf-step-alt-substep a {
  padding: 5px 0 5px 18px;
  color: #393f44;
}
.wizard-pf-step-alt-substep.active,
.wizard-pf-step-alt-substep:not(.disabled):hover {
  background-color: #ededed;
  border-color: #39a5dc;
}
.wizard-pf-step-alt-substep.active a,
.wizard-pf-step-alt-substep:not(.disabled):hover a {
  color: #39a5dc;
}
.wizard-pf-step-alt-substep.active a {
  font-weight: 700;
}
.wizard-pf-step.disabled > a:hover,
.wizard-pf-step-alt-substep.disabled > a:hover,
.wizard-pf-sidebar .list-group-item.disabled > a:hover {

}