@import "../../App.scss";

.card_style_with_hover {
  background-color: white;
}

.card_header {
  height: 60px;
}

.card_body {
  height: 140px;
  overflow: hidden;
}

.card_element {
  text-align: left;
  font-size: small;
}

.card_style_with_hover:hover {
  background-color:darkgrey;
  opacity: 0.8;
}
