@import "../../App.scss";

.pcard_style {
  margin: 0px;
  padding: 0px;
}

.pcard_header {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100px;
}

.pcard_body {
  margin: 0px;
  padding: 0px;
  height: 140px;
  overflow: hidden;
}

.pcard_element {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: small;
}

