@import "../../App.scss";

.card-image-header {
  padding: 0 !important;
}

.portfolio-card-header {
  min-height: 100px;
  max-height: 200px;
  background-size: stretch;
  color: white;
  padding: 8px 24px;
}

.portfolio-card-header-title {
  max-width: calc(100% - 44px)
}

