@import "../App.scss";
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';


.rjsf {
  border: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;

  font-size: small;
}
.form-group {
  margin-left: 15px;
  margin-bottom: 15px;
}


.hidden {
  display: none;
}

.searchToolbar {
  background-color: white;
  padding: 10px;
}
.space-between-toolbar-items > div {
  margin-right: $ins-gutter;
  align-self: flex-end;
}

.searchPlatforms {
  min-width: 30%;
  > div {
    width: 100%;
  }
}
