@import "../../App.scss";
@import "../../PresentationalComponents/Shared/toolbarschema";
@import "../../PresentationalComponents/Portfolio/portfoliocard";

.center_message {
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
