@import "../../App";

.card_style_with_hover {
  background-color: white;
}

.card_style_with_hover:hover {
  background-color:darkgrey;
  opacity: 0.8
}
.platformToolbar {
  background-color: white;
}
.space-between-toolbar-items > div {
  margin-right: $ins-gutter;
  align-self: flex-end;
}

.searchPlatforms {
  min-width: 30%;
  > div {
    width: 100%;
  }
}

