@import "../../App";

.card_style_with_hover {
  background-color: white;
}

.card_style_with_hover:hover {
  background-color:darkgrey;
  opacity: 0.8
}

.portfolio-menu{
  min-width: 200px;
  min-height: 200px;
}

.portfolio-menu{
  min-width: 200px;
  min-height: 200px;
}

.portfolio-menu{
  min-width: 200px;
  min-height: 200px;
}

.portfolio-menu{
  min-width: 200px;
  min-height: 200px;
}