@import "../../App.scss";
@import "../../PresentationalComponents/Shared/toolbarschema";
@import "../../PresentationalComponents/Platform/platformcard";

.admin-dashboard {
  border: 0;
  background-color: white;
  box-shadow: 0px 0px 2px;
  font-size: $ins-fontSize;
  margin: $ins-margin;
  display: block;
}

.side_bar {
  background-color: white;
}
.action-toolbar {
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
}
