@import '~@red-hat-insights/insights-frontend-components/Utilities/_all';
@import '~@red-hat-insights/insights-frontend-components/index.css';

.elipsis-text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-link, .card-link:hover, .card-link:active {
  text-decoration: none !important;
  cursor: pointer !important;
  color: #282d33 !important;
  font-weight: 400 !important;
}

.pf-c-dropdown__menu {
  a {
    text-decoration: none !important;
  }
}

.text-align-right {
  text-align: right;
}

.modal-form-right-align {
  .pf-m-action:last-child {
    .data-driven-forms__pf4-button-group:first-child {
      margin-left: auto
    }
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  word-wrap: break-word;
}

.content-gallery {
  .content-gallery-card {
    height: 330px;
    .card-link {
      height: 100%;
    }
  }
}

.destructive-color {
  &:not(:disabled) {
    color: #FF0000 !important;
  }
}

.card-image {
  height: 40px;
  &.hide {
    display: none;
    float: left;
    height: 0px;
    width: 0px;
  }
}
