@import '~@redhat-cloud-services/frontend-components/index.css';

.elipsis-text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-link, .card-link:hover, .card-link:active {
  text-decoration: none !important;
  cursor: pointer !important;
  color: #282d33 !important;
  font-weight: 400 !important;
}

.pf-c-dropdown__menu {
  a {
    text-decoration: none !important;
  }
}

.text-align-right {
  text-align: right;
}

.modal-form-right-align {
  .pf-m-action:last-child {
    .data-driven-forms__pf4-button-group:first-child {
      margin-left: auto
    }
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  word-wrap: break-word;
}

.content-gallery {
  .content-gallery-card {
    word-break: break-all;
    height: 330px;
    .card-link {
      height: 100%;
    }
  }
}
.disabled-color {
  color: #d2d2d2;
}

.destructive-color {
  &:not(:disabled) {
    color: #FF0000 !important;
  }
}


.card-image {
  height: 40px;
  &.hide {
    display: none;
    float: left;
    height: 0px;
    width: 0px;
  }
}

.data-list-expand-fix {
  .pf-c-data-list__toggle {
    align-self: flex-start;
    margin-top: 0;
  }
  .pf-c-data-list__expandable-content-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.cell-grow {
  flex-grow: 20 !important;
  .pf-l-split {
    .pf-l-split__item:nth-child(2) {
      width: 100%;
    }
  }
}

.requests-table {
  width: 100%;
  th.action-row {
    width: 1px;
  }
  .requests-step-label {
    span:first-child {
      width: 24px;
      border-radius: 50%;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      background-color: #EDEDED;
      margin-right: 4px;
      line-height: 26px;
    }
  }
  tr {
    td:first-child, td:last-child, th:first-child, th:last-child {
      padding-left: calc(32px + 64px);
      padding-right: 32px;
    }
  }
  thead {
    th {
      color: #292E34;
      font-family: Overpass;
      font-size: 14px;
      line-height: 22px;
      font-weight: normal;
      padding-bottom: 16px;
    }
    border-bottom: 1px solid #EDEDED;
  }
  tbody {
    tr {
      font-size: 14px;
      &.finished {
          .requests-step-label {
            span:first-child {
              background-color: var(--pf-global--primary-color--100);
              color: #FFFFFF
            }
          }
          &.failed {
            .requests-step-label {
              span:first-child {
                background-color: var(--pf-global--danger-color--100);
              }
            }
        }
      }
      td {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      &:first-child {
        td {
          padding-top: 16px;
        }
      }
    }
  }
}

.toolbar-filter-input-group {
  position: relative;
  width: 300px;
  height: 36px;
  input {
    position: absolute;
    width: 300px;
    background: transparent;
  }
  .filter-icons-container {
    position: absolute;
    right: 8px;
    top: 8px;
    svg {
      z-index: 1000;
      fill: #72767B;
    }
    &:hover {
      svg.clear-filter {
        fill: var(--pf-global--Color--100);
        cursor: pointer;
      }
    }
  }
}

.toolbar-override {
  display: flex;
  align-items: center;
  > div, > a {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.button-with-spinner {
  display: flex;
  align-items: center;
  .ins-c-spinner::before {
    height: 16px;
    width: 16px;
    margin-left: 8px;
    border-color: #ededed;
    border-top-color: var(--pf-c-button--disabled--BackgroundColor);
  }
}

.portfolio-item-progress {
  position: relative;
  height: 330px;
  .content-gallery-card {
    position: absolute;
    width: 100%;
    &.progress-overlay {
      background-color: rgba(210, 210, 210, .5);
      z-index: 1;
      cursor: progress;
    }
  }
}

.disabled-link {
  pointer-events: none
}

.orders-list {
  background-color: var(--pf-global--BackgroundColor--100)
}

/**
* Update DDF select styles for select component
*/
.filter-select {
  width: 300px;
  .filter-value-container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .ddorg__pf4-component-mapper__select__indicators {
    margin-left: auto
  }
  .ddorg__pf4-component-mapper__select__placeholder {
    margin-left: 29px !important;
  }
  .ddorg__pf4-component-mapper__select__single-value {
    margin-left: 22px !important;
  }
  .ddorg__pf4-component-mapper__select__control::before {
    border-right: none !important;
  }
  .ddorg__pf4-component-mapper__select__control {
    min-height: 36px !important;
  }
}

//pf-4 fixes
/**
* non working pf display modifier: https://www.patternfly.org/v4/documentation/core/utilities/display#display-block
*/
.pf-u-display-block {
  display: block
}
// Image uploader
.image-upload-button {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  svg {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.image-preview {
  height: 64px;
  max-width: 300px;
  object-fit: cover;
}

.image-upload-spinner:before{
  position: absolute;
  top:0;
  left: 0;
  width: 16px;
  height: 16px;
}

.share-group-modal{
  .height-normalize {
    height: 38px;
  }
  .share-column {
    flex-grow: 1;
    &:not(:first-child) {
      max-width: 200px;
      margin-left: 8px;
    }
    h4 {
      margin: 0
    }
  }
  &.group {
    border-top: 1px solid #d2d2d2;
    padding-top: 24px;
  }
}

.app-tabs {
  border-bottom: 1px solid lightgrey;
}