@import '~@red-hat-insights/insights-frontend-components/Utilities/_all';
@import '~@red-hat-insights/insights-frontend-components/index.css';

// Temp nav styles
ul.navigation-secondary {
  margin-top: 20px;
  li {
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    box-shadow: none;
    padding: 5px 0;
    color: #1d1d1d;
    span {
      margin-left: 50px;
    }
    &:active,
    &.active {
      background: #f5f5f5;
      color: var(--pf-global--link--Color);
    }
    &:hover {
      color: var(--pf-global--link--Color);
    }
  }
}

.elipsis-text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toolbar-padding {
  padding: 24px 24px 0 24px
}

.card-link {
  &:hover {
    text-decoration: none;
  }
  cursor: pointer;
}

.text-align-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.align-items-base {
  align-items: baseline;
}

.modal-form-right-align {
  .pf-m-action:last-child {
    .data-driven-forms__pf4-button-group:first-child {
      margin-left: auto
    }
  }
}