.pf-c-page {
  --pf-c-page__sidebar--Transition: all 500ms cubic-bezier(.42, 0, .58, 1);
  --pf-m-emphasis--FontSize: var(--pf-global--FontSize--xl);

  .ins-m-full--height { height: 100%; }
}

// Page root background color
.pf-c-page__main {
  &#root, &#no-access {
    background: var(--pf-c-page__main-section--BackgroundColor);
  }
}

#app-render-root {
  height: 100%;
}

.ins-c-app-title {
  color: white;
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
  width: 100%;
  border-bottom: var(--pf-global--spacer--xs) solid var(--pf-global--Color--300);
  text-transform: capitalize;
  font-weight: var(--pf-global--FontWeight--semi-bold);
  white-space: normal;
  text-align: left;
  font-size: var(--pf-global--FontSize--lg);
}

.pf-c-nav__list {
  section.ins-c-section-nav {
    margin-top: 0 !important;
    h2.pf-c-nav__section-title {
      border: 0;
      border-top: var(--pf-global--BorderWidth--sm) var(--pf-global--BackgroundColor--dark-200) solid;
      color: var(--pf-global--palette--black-500);
      font-size: var(--pf-global--FontSize--xs);
      font-weight: var(--pf-global--FontWeight--medium);
      padding: var(--pf-global--spacer--md) 0 var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
      svg {
        margin-left: var(--pf-global--spacer--none);
        margin-right: var(--pf-global--spacer--sm);
      }
    }
    ul
    > li.pf-c-nav__item {
      border-top: 0;
      --pf-c-nav__item--MarginTop: 0;
      --pf-c-nav__item--before--BorderWidth: 0;
      &:last-child {
        margin-bottom: var(--pf-global--spacer--sm);
      }
      .pf-c-nav__subnav {
        padding: 0 0 0 var(--pf-global--spacer--lg);
        .pf-c-nav__list {
          .pf-c-nav__item {
            .pf-c-nav__link{
              padding-left: var(--pf-global--spacer--lg);
            }
            &:last-child {
              margin-bottom: var(--pf-global--spacer--sm);
            }
          }
        }
      }
      section.pf-c-nav__subnav {
        li.pf-c-nav__item {
          border: none !important;
        }
      }
    }
  }
  .pf-c-nav__item.ins-c-navigation__additional-links {
    border: none !important;
    .pf-c-nav__link {
      padding-left: var(--pf-global--spacer--lg);
    }
  }
  > .pf-c-nav__item:not(:first-child) {
    border-top: var(--pf-global--BorderWidth--sm) var(--pf-global--BackgroundColor--dark-200) solid;
  }
  svg {
    margin-left: var(--pf-global--spacer--sm);
    width: 12px;
  }
}

.ins-c-navigation__additional-links {
  align-items: center;
  svg { margin-left: var(--pf-global--spacer--sm); }
}

.pf-c-nav__item .pf-c-nav__link .ins-c-navigation__beta-badge {
  float: right;
  margin-right: 0px;
  margin-left: auto;
}

.pf-c-nav {
  .ins-c-navigation__beta-badge {
    background-color: var(--pf-global--palette--green-300);
    color: var(--pf-global--Color--dark-100);
  }
}

.ins-c-navigation__beta-info-modal {
  text-align: center;
  width: 90%;
  div {
    margin: var(--pf-global--spacer--md);
  }
  .info-icon {
    color: var(--pf-global--info-color--100);
    margin: var(--pf-global--spacer--md);
  }
}

.ins-c-navigation__isHidden {
  display: none;
}
.ins-c-landing-nav {
  height: 100%;
}

/**
* There is a transiion of bacground color on first landing page nav render
* We have to turn it off for now because we are adding the PF nav class names later on
*/
#ins-c-landing-nav {
  transition: none;
}
.body {
  background-color: white;
  padding: 16px;
}

.clickable {
  cursor: pointer;
}

#page-sidebar > div {
  padding-top: 0px;
}
#page-sidebar {
  border-top-style: solid;
  border-top-width: var(--pf-global--BorderWidth--sm);
  border-top-color: var(--pf-global--palette--black-800);
}

section.pf-c-nav__section.nav-title > h2 {
  height: 50px;
  font-size: var(--pf-c-nav__link--FontSize);
  font-weight: var(--pf-c-nav__link--FontWeight);
}
